:root {
  --color1: #331D2C;
  --color2: #3F2E3E;
  --color3: #A78295;
  --color4: #EFE1D1;
}

body {
  background-color:var(--color1);
  padding-bottom: 10rem;
}

* {
  font-family: 'Courier New', monospace;
}

.main-container {
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title, h1{
  color:var(--color4);
  text-align: center;
}

.title a {
  text-decoration: none;
  color: var(--color4);
}

#htmx-logo {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 40pt;
}

#htmx-logo-span {
  color: #3d72d7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.htmx-logo-container {
  height: 100px;
  width: 300px;
  border: 2px solid var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--color2);
  margin: 50px auto;
}