html
  head
    script(src='https://unpkg.com/htmx.org@1.9.2')
  body
    table
      tbody
        tr(id="container")
          td(hx-post='/sub' hx-target="#container") 
            button -
          td
            h2 #{counter}
          td(hx-post='/add' hx-target="#container") 
            button +