html
  head
    script(src='https://unpkg.com/htmx.org@1.9.2')
    link(rel='stylesheet' href='globals.css')
    style(type='text/css').
      .options {
        list-style: none;
        text-align: center;
        padding: 0;
      }

      .options li {
        color: var(--color4);
        font-size: 20pt;
        margin-bottom: 20px;
      }

      .options li a {
        text-decoration: none;
        color: var(--color4);
      }

  body
    div(class='main-container')
      div(class='htmx-logo-container') 
        h1(id='htmx-logo') 
          | &lt;
          span(id='htmx-logo-span') /
          | &gt; htm
          span(id='htmx-logo-span') x

      ul(class="options")
        li
          a(href="/counter") Counter
        li 
          a(href="/todo") TODO List
        //- li Text editor
        li 
          a(href="/animals") Animals
      