html
  head
    script(src='https://unpkg.com/htmx.org@1.9.2')
    link(rel='stylesheet' href='globals.css')
    style(type='text/css').
      #counter-number {
        font-size: 25pt;
        color: var(--color4);
      }

      #container {
        display: flex;
        align-items: center;
        height: 100px;
        gap: 10px;
      }

      .button-counter {
        border: none;
        background-color: var(--color2);
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
        transition: .2s ease;
      }

      .button-counter:hover {
        background-color: var(--color4);
        transform: scale(1.05);
      }


  body
    div(class='main-container')
      div 
        h1(id='htmx-logo') 
          | &lt;
          span(id='htmx-logo-span') /
          | &gt; htm
          span(id='htmx-logo-span') x

      h2(class="title") 
        a(href="/") 🔙 
        | Counter
      table
        tbody
          tr(id="container")
            td(hx-post='/sub' hx-target="#counter-number") 
              button(class="button-counter") ➖
            td
              h2(id="counter-number") #{counter}
            td(hx-post='/add' hx-target="#counter-number") 
              button(class="button-counter") ➕